:root {
  --preview-width: 600px;
  --aspect-ratio: calc(30 / 21);
}

.preview {
  background-color: red;

  width: var(--preview-width);
  height: calc(var(--preview-width) * var(--aspect-ratio));
}
