:root {
  --preview-width: 550px;
  --aspect-ratio: calc(30 / 21);
}

.preview {
  background-color: #f3f3f3;
  color: #101010;
  box-shadow: 0 0 5px 1px #00000034;


  width: var(--preview-width);
  height: calc(var(--preview-width) * var(--aspect-ratio));

  font-family: calibri;
  font-size: 12pt;
  line-height: 1.5;

  display: flex;
}

.print {
  margin-top: 1em;
}