@media print {
  body * {
    visibility: hidden;
  }

  .preview, .preview * {
    visibility: visible;
  }

  .preview {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
  }

  .left-side {
    background-color: red;
  }

  .preview button {
    display: none;
  }
}