.section {
  background-color: var(--bg-color);
  border-radius: 5px;


  width: 45%;
  padding: 2em;

  transition: 5s;

}

.section h1 {
  font-size: 1.3em;
  font-weight: 500;
  color: gray;

  border-bottom: 1px solid rgb(206, 206, 206); 
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.second-header h1 {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}

.no-margin {
  margin: 0;
}

.section .form {
  position: relative;
  display: flex;
  gap: 1em;
  flex-direction: column;

}


.form label {
  display: flex;
  gap: 5px;
  flex-direction: column;

  position: relative;
  font-weight: 500;
}

.two-columns {
  display: flex;
  gap: 2rem;
}
.two-columns label {
  width: 50%;
}

.form .required::after {
  content: "required";
  position: absolute;

  right: 0;

  font-weight: 500;
  color: var(--red);
}
.form .recommended::after {
  content: "recommended";
  position: absolute;

  right: 0;

  font-weight: 500;
  color: gray;
}

.section input {
  font-size: 1rem;
  padding: 0.8rem;

  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.13);
}
.section input:focus {
  border-color: blue;
  outline: none;
}
.section input::placeholder {
  color: gray;
}

.section svg {
  cursor: pointer;
  transition: 0.1s;
}
.section svg:hover {
  transform: scale(1.1);
}

.section .hidden {
  display: none;
}

.section .visible {

}